@charset "utf-8";
/* CSS Document */

.speech {
  border: 1px solid #DDD;
  width: 300px;
  padding: 0;
  margin: 0
}
	  
.speech input {
  border: 0;
  width: 240px;
  display: inline-block;
  height: 30px;
}

.speech img {
  float: right;
  width: 40px
}

#formId {
  margin: 2%;
}

#psCodeInputDiv {
  width: 20%;
  float: left;
}

#psCodeInputP {
  margin-top: 3%;
  margin-bottom: 3%;
}

#psCodeInput {
  margin-top: 2.5%;
}

#micBigRed {
  display:none;
  border: solid red;
  width:20%;
  margin-top:2%;
}